@font-face {
  font-family: Abril Fatface;
  src: url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')
} 

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

}

h1 {
  font-family: Abril Fatface;
  font-size: 130px;
  color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 1em;
  min-height: 2em;
  background-image: linear-gradient(to right, ghostwhite 2%, bisque 75%, firebrick)
  
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-image: url(../public/assets/images/pasta_prep_background.jpg);
}

.recipes_ingredients {
  display: flex;
  flex-direction: column;

  margin: 5px;
}

.recipe_links {
  height: 25px;
}

.ingredient_links {
  height: 25px;
}

.recipe_grid {
  display: grid;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%
}

.ingredients {
  display: flex;
  justify-content: center;
}

.recipe_ingredients {
  display: flex;
}